body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #08131f;
  font-size: 1.3125rem;
  line-height: 2.25rem;
  letter-spacing: -0.01em;
}

h1 {
  margin-top: 0px;
  margin-bottom: 2.5rem;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.618rem;
  line-height: 3rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.06em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.124rem;
  line-height: 2.5rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.04em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 1.5rem;
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.618rem;
  line-height: 2rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.02em;
}

h4 {
  margin-top: 0px;
  margin-bottom: 1rem;
  font-family: 'Playfair Display', sans-serif;
  font-size: 1.313rem;
  line-height: 1.5rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: -0.03em;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p {
  margin-bottom: 1.5rem;
}

a {
  color: #08131f;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.container {
  position: relative;
  display: block;
  width: 91.66666667%;
  max-width: 72.5rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 3rem;
  padding-left: 3rem;
  font-family: 'Suburban _ Light', sans-serif;
  text-transform: none;
}

.space--stack--l {
  margin-bottom: 2rem;
}

.colorcard {
  width: 2.5rem;
  height: 2.5rem;
}

.colorcard.colorcard--blue {
  background-color: #0042ff;
}

.colorcard.colorcard--medium-dark {
  background-color: #636b81;
}

.colorcard.colorcard--grey {
  background-color: #b8becc;
}

.colorcard.colorcard--medium-light {
  background-color: #f0f1f2;
}

.colorcard.colorcard--light {
  background-color: #fafafb;
}

.colorcard.colorcard--turquoise {
  background-color: #0cc3f3;
}

.colorcard.colorcard--dark {
  background-color: #08131f;
}

.inline__left--m {
  margin-right: 1rem;
  margin-bottom: 1rem;
  float: left;
}

.container__inner {
  position: relative;
  z-index: 12;
  display: block;
  width: 83.33333333%;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.bg {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 12;
}

.bg.bg--footer {
  position: absolute;
  z-index: 0;
}

.bg__line {
  width: 1px;
  height: 100vh;
  background-color: #f0f1f2;
}

.bg__line.bg__line--left {
  position: absolute;
  left: 0px;
}

.bg__line.bg__line--right {
  position: absolute;
  right: 1px;
}

.bg__line.bg__line--middle {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}

.bg__line.bg__line--faint {
  background-color: hsla(210, 7%, 95%, .16);
}

.section {
  overflow: hidden;
  padding-bottom: 0px;
  background-image: url('../images/279862_41233.gif');
  background-size: 200px;
}

.section.section--hero--homepage {
  min-height: 100vh;
  padding-top: 30vh;
  background-image: -webkit-linear-gradient(270deg, rgba(99, 107, 129, .58), rgba(255, 253, 234, .69) 61%), url('../images/279862_41233.gif');
  background-image: linear-gradient(180deg, rgba(99, 107, 129, .58), rgba(255, 253, 234, .69) 61%), url('../images/279862_41233.gif');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, 200px;
}

.space--stack--xxl {
  position: relative;
  margin-bottom: 8rem;
}

.label {
  font-family: Raisonne, sans-serif;
  color: #636b81;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.32em;
  text-transform: uppercase;
}

.label.label--block--right {
  text-align: right;
}

.label.label--footer {
  color: #f0f1f2;
}

.btn {
  position: relative;
  overflow: hidden;
  min-height: 2.25rem;
  padding: 0.55rem 1rem;
  font-size: 1rem;
  line-height: 1rem;
  letter-spacing: 0em;
  text-transform: uppercase;
}

.btn.btn--solid {
  background-color: #08131f;
  color: #fff;
}

.btn.btn--left {
  padding-left: 3rem;
  float: left;
}

.btn.btn--left.btn--solid {
  display: none;
  overflow: hidden;
  border-radius: 5px;
  background-color: #636b81;
  background-image: -webkit-linear-gradient(270deg, #0042ff, #fff);
  background-image: linear-gradient(180deg, #0042ff, #fff);
  box-shadow: 0 0 26px -5px #000;
}

.btn.btn--right {
  padding-right: 3rem;
  float: right;
}

.btn.btn--right.btn--solid {
  border-radius: 5px;
  background-color: #636b81;
  background-image: -webkit-linear-gradient(270deg, #0042ff, #fff);
  background-image: linear-gradient(180deg, #0042ff, #fff);
  box-shadow: 1px 1px 26px -5px #000;
}

.btn.btn--ghost {
  border-bottom: 2px solid #0042ff;
  color: #0042ff;
}

.btn.btn--ghost.btn--ghost--white {
  border-bottom-color: #fff;
  color: #fff;
}

.btn__text {
  padding-top: 0.1rem;
  font-family: Raisonne, sans-serif;
  font-weight: 500;
}

.block__copy__title {
  margin-bottom: 3rem;
  font-family: 'Playfair Display', sans-serif;
  font-size: 3.436rem;
  line-height: 4rem;
  font-style: italic;
  letter-spacing: -0.04em;
}

.btn__wrapper.btn__wrapper--left {
  float: right;
}

.btn__wrapper.btn__wrapper--right {
  float: right;
}

.btn__wrapper.btn__text.submit {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 12px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0rem 12px 4px;
  float: right;
  clear: none;
  border: 2px solid blue;
  border-radius: 5px;
  background-color: hsla(0, 0%, 100%, 0);
  background-image: none;
  color: #636b81;
}

.btn__wrapper.btn__text.submit:hover {
  border-color: #0042ff;
  background-color: #0042ff;
  background-image: none;
  color: #fffdea;
}

.body--overflow {
  position: relative;
  z-index: 123;
  background-image: url('../images/interludiobg__footer--blue.svg');
  background-position: 100% 100%;
  background-size: 94%;
  background-repeat: no-repeat;
}

.space--stack--xl {
  position: relative;
  margin-bottom: 4rem;
}

.styles__h2 {
  margin-bottom: 4rem;
  font-family: Inconsolata, monospace;
  color: #636b81;
  font-size: 2.124rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.styles__h1 {
  margin-bottom: 8rem;
  font-family: Inconsolata, monospace;
  color: #636b81;
  font-size: 3.436rem;
  line-height: 3rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.styleguide__list__item {
  position: relative;
  margin-bottom: 4rem;
}

.styleguide__list {
  list-style-type: none;
}

.styles__h3 {
  margin-bottom: 2rem;
  font-family: Inconsolata, monospace;
  color: #636b81;
  font-size: 1.618rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.column {
  padding-right: 3rem;
  padding-left: 3rem;
}

.styleguide__list--number {
  display: block;
  min-width: 5rem;
  font-family: Inconsolata, monospace;
  color: #636b81;
  font-size: 1.3125rem;
}

.styles__h6 {
  font-family: Inconsolata, monospace;
  color: #b8becc;
  font-size: 0.811rem;
  line-height: 1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.styles__h6--emphasis {
  color: #636b81;
  font-weight: 700;
}

.p--l {
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.124rem;
  line-height: 2.75rem;
  font-style: italic;
  letter-spacing: -0.04em;
}

.p--l.q {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 300;
  text-align: justify;
}

.text--dot {
  width: 0.75rem;
  height: 0.75rem;
}

.text--dot.text--dot--blue {
  background-color: #0042ff;
}

.text--dot.text--dot--block {
  background-color: #08131f;
}

.card__title {
  position: relative;
  z-index: 12;
  font-family: Lifesavers, sans-serif;
  color: #0042ff;
  font-size: 3rem;
  line-height: 4rem;
  font-style: normal;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

.card__title.card__title--right {
  color: #0042ff;
  text-align: right;
}

.card__title.about {
  left: -4px;
  font-family: Lifesavers, sans-serif;
  color: #0042ff;
  text-transform: uppercase;
}

.btn__square {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 2.25rem;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0042ff;
}

.btn__square.btn__square--left {
  left: 100%;
}

.btn__square.btn__square--right {
  right: 100%;
}

.btn__square.btn__square--white {
  background-color: #fff;
}

.btn__square__arrow {
  position: relative;
}

.btn__square__arrow.btn__square__arrow--left {
  left: 1.5rem;
}

.btn__square__arrow.btn__square__arrow--right {
  left: -1.5rem;
}

.card--link {
  display: block;
}

.ico--block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 3rem;
  height: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-radius: 50%;
}

.ico--block.ico--block--dark {
  border-color: #08131f;
}

.ico--block.ico--block--rotated {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ico--block.ico--block--depth {
  background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, .12);
}

.ico {
  line-height: 0rem;
}

.ico__drag--right {
  margin-left: 0.125rem;
}

.ico__drag--left {
  margin-right: 0.125rem;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.tabs__content {
  left: 8.3333333%;
  z-index: 1;
  overflow: visible;
  width: 75%;
  padding-right: 25%;
}

.tabs {
  background-color: transparent;
}

.tabs__menu {
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 12;
  width: 25%;
}

.tabs__link {
  position: relative;
  display: block;
  overflow: hidden;
  width: 83.33333333%;
  min-height: 2rem;
  padding: 1.25rem 0rem 1.25rem 0px;
  float: right;
  background-color: transparent;
  color: #636b81;
  font-size: 1rem;
  line-height: 1.1rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.tabs__link.w--current {
  background-color: transparent;
  color: #08131f;
  font-weight: 700;
}

.block--slider-tabs {
  position: relative;
}

.tabs__link__line {
  position: absolute;
  left: 33.33333333%;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #b8becc;
}

.tabs-slider__pane {
  padding-right: 4rem;
  padding-left: 4rem;
}

.tab__link__text {
  width: 100%;
  padding-left: 33.33333333%;
  float: right;
}

.tabs__link__line--hover {
  position: absolute;
  left: 100%;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: #08131f;
}

.space--stack--m {
  margin-bottom: 1rem;
}

.space--stack--m.form-submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #fffdea, #fffdea);
  background-image: linear-gradient(180deg, #fffdea, #fffdea);
  box-shadow: -6px 4px 50px -17px rgba(8, 19, 31, .91);
  font-family: Mumsies, sans-serif;
  font-size: 1.5rem;
  text-transform: none;
}

.space--stack--xxxl {
  position: relative;
  margin-bottom: 16rem;
  background-image: none;
  background-position: 0px 0px;
  background-size: auto;
}

.space--stack--xxxl.item {
  background-image: none;
}

.bg__hero {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  overflow: hidden;
  background-image: url('../images/interludio_bg_main-background.svg');
  background-position: 50% 32%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.p--faint {
  color: #636b81;
}

.label__faint {
  color: #b8becc;
}

.title--emphasis {
  color: #f0f1f2;
  font-weight: 700;
}

.logo {
  position: relative;
  left: -0.25rem;
  display: inline-block;
}

.space--inset--top--xxxl {
  padding-top: 32rem;
}

.bg--color {
  width: 100%;
  height: 100%;
}

.bg--color.bg--color--gradient {
  position: relative;
  z-index: 1;
  padding-bottom: 1rem;
  background-image: url('../images/interludiobg__footer.svg'), -webkit-linear-gradient(45deg, #0042ff, #0cc3f3);
  background-image: url('../images/interludiobg__footer.svg'), linear-gradient(45deg, #0042ff, #0cc3f3);
  background-position: 100% 100%, 0px 0px;
  background-size: 94%, auto;
  background-repeat: no-repeat, repeat;
}

.bg--footer {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.space--inset--top--xxl {
  padding-top: 8rem;
}

.img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  height: 50%;
  min-width: 50%;
  margin: auto;
}

.block--split__copy.block--split__copy--right {
  padding-left: 4.5rem;
}

.block--split__copy.block--split__copy--left {
  position: relative;
  z-index: 123;
  padding-right: 4.5rem;
  font-family: Mumsies, sans-serif;
}

.tabs-slider__copy {
  position: relative;
  margin-right: 16.66666667%;
  padding-right: 4rem;
}

.tabs__bg {
  position: absolute;
  left: 8.33333333%;
  top: 0px;
  right: 16.66666667%;
  bottom: 0px;
  background-color: #fafafb;
}

.space--inset--vrtl--xl {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.img--free {
  box-shadow: 0 0 54px 0 rgba(0, 0, 0, .12);
}

.hero__case__header {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: -4.5rem;
}

.hero__case__copy {
  position: relative;
}

.container__half {
  width: 50%;
}

.space--inset--vrtl--xxxl {
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.block--full {
  position: relative;
  min-height: 29rem;
}

.block--full__copy {
  position: absolute;
  left: 8.33333333%;
  top: 0px;
  right: 50%;
}

.block--full__img {
  width: 100%;
}

.slider__bg {
  position: absolute;
  left: 8.33333333%;
  top: 0px;
  right: 8.33333333%;
  bottom: 0px;
  background-color: #fafafb;
}

.space--stack--correction--15 {
  margin-bottom: -1.5rem;
}

.case-study__grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
}

.case-study__grid__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  padding: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 2px solid #f0f1f2;
  border-bottom: 2px solid #f0f1f2;
  text-align: center;
}

.case-study__grid__item.case-study__grid__item--last-row {
  border-bottom-style: none;
}

.case-study__grid__item.case-study__grid__item--last-column {
  border-right-style: none;
}

.case-study__grid__item.case-study__grid__item--highlight {
  border-style: none;
  background-color: #fff;
  box-shadow: 0 0 54px 0 rgba(8, 19, 31, .12);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.container__columns {
  margin-right: -3rem;
  margin-left: -3rem;
}

.space--inset--top--xl {
  padding-top: 4rem;
}

.slider__copy {
  margin-right: 8.33333333%;
  padding-right: 4rem;
}

.slider {
  position: relative;
  width: 83.33333333%;
  height: auto;
  margin-left: 8.33333333%;
  background-color: transparent;
}

.slider__arrow {
  top: auto;
  right: auto;
  bottom: -4rem;
  width: auto;
}

.slider__arrow.slider__arrow--left {
  left: 4rem;
}

.slider__arrow.slider__arrow--right {
  left: 8rem;
}

.slider__nav {
  display: none;
}

.column00 {
  padding-right: 0px;
  padding-left: 0px;
}

.block--split--hz__bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 37.5%;
  background-color: #fafafb;
}

.block--split--hz__bg.block--split--hz__bg--left {
  right: 100%;
}

.block--split--hz__bg.block--split--hz__bg--right {
  left: 100%;
}

.block--card__bg {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 83.33333333%;
  background-color: #fafafb;
}

.block--card__bg.block--card__bg--left {
  right: 100%;
  border-radius: 10px 0px 0px 10px;
  background-color: #fffdea;
  box-shadow: -9px 5px 50px -4px rgba(8, 19, 31, .25);
}

.block--card__bg.block--card__bg--right {
  left: 100%;
  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #fffdea;
  background-image: -webkit-linear-gradient(270deg, #fffdea, #fffdea);
  background-image: linear-gradient(180deg, #fffdea, #fffdea);
  box-shadow: 6px -6px 50px 0 rgba(0, 0, 0, .23);
}

.btn-card--right {
  position: relative;
  right: 16.66666667%;
}

.btn-card--left {
  position: relative;
  left: 16.66666667%;
  z-index: 23;
}

.box--shadow {
  overflow: hidden;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #fffdea, #fffdea), -webkit-linear-gradient(270deg, #0042ff, #fff);
  background-image: linear-gradient(180deg, #fffdea, #fffdea), linear-gradient(180deg, #0042ff, #fff);
  box-shadow: 0 0 54px 0 rgba(0, 0, 0, .12);
}

.block--unbounded__copy {
  padding-right: 8.33333333%;
  padding-left: 8.33333333%;
}

.link--inline {
  border-bottom: 2px solid #0042ff;
  color: #0042ff;
}

.caption {
  font-size: 1rem;
  line-height: 1.5rem;
  font-style: italic;
  text-align: right;
}

.img--centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.btn--card {
  position: relative;
  z-index: 12;
}

.btn--card.btn--card--left {
  left: 16.66666667%;
  display: none;
}

.btn--card.btn--card--right {
  right: 16.66666667%;
  display: none;
}

.card__img {
  padding-left: 0px;
}

.case-study--title {
  position: static;
  z-index: 12;
  display: block;
  font-family: Mumsies, sans-serif;
  font-size: 1.7rem;
  line-height: 2rem;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.05em;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.hero__case__img {
  position: relative;
  z-index: 1;
  width: 83.33333333%;
  float: right;
}

.block--split--vt__bg {
  display: none;
  background-color: #fafafb;
}

.card--thumbnail {
  position: relative;
  right: 8.33333333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: translate(1.5rem, 0px);
  -ms-transform: translate(1.5rem, 0px);
  transform: translate(1.5rem, 0px);
}

.card--thumbnail__img {
  float: left;
}

.card--thumbnail--copy {
  margin-bottom: -2rem;
  margin-left: 2rem;
  float: left;
}

.card--thumbnail__ico {
  margin-top: 1rem;
  margin-left: 1rem;
  float: left;
}

.quote__ico {
  display: inline-block;
  overflow: hidden;
  margin-left: 8.33333333%;
}

.quote__ico__img {
  position: relative;
  left: -1.5rem;
  max-width: 100%;
}

.logo--wrapper {
  position: relative;
  left: -1rem;
  display: inline-block;
  padding: 1rem;
}

.logo--case-study {
  position: absolute;
  left: 8.33333333%;
  z-index: 12;
  display: inline-block;
}

.block--full__copy__p {
  font-family: 'Playfair Display', sans-serif;
  font-size: 2.124rem;
  line-height: 2.75rem;
  font-style: italic;
  letter-spacing: -0.04em;
}

.stylescape__image {
  width: 100%;
}

.slider--animation {
  height: auto;
  background-color: transparent;
}

.container__inner--text {
  position: relative;
  z-index: 12;
  display: block;
  width: 83.33333333%;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

.stylescape_container {
  width: 350%;
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.stylescape_mask {
  position: relative;
  z-index: 12;
  overflow: scroll;
  width: 100%;
  padding-left: 16.6666666%;
}

.stylescape_message {
  position: absolute;
  left: 8.33333333%;
  top: 50%;
  z-index: 1;
  width: 6rem;
  height: 6rem;
  padding-top: 2.25rem;
  border: 2px solid #08131f;
  border-radius: 50%;
  -webkit-transform: translate(-3rem, -50%);
  -ms-transform: translate(-3rem, -50%);
  transform: translate(-3rem, -50%);
  font-size: 0.811rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.stylescape {
  position: relative;
}

.slider-animation--wrapper {
  position: relative;
}

.slider--animation__img {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 12;
}

.slider--animation__ico {
  position: absolute;
  left: 50%;
  top: -1.125rem;
  z-index: 123;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, .12);
}

.btn--contact {
  position: fixed;
  right: 0rem;
  bottom: 4rem;
  z-index: 1234;
}

.footer__copy {
  padding-right: 8.33333333%;
  text-align: right;
}

.loader--wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 123456;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  position: relative;
  left: -2px;
  height: 4rem;
}

.loader__line {
  position: absolute;
  left: 2px;
  width: 2px;
  height: 100%;
  background-color: #0042ff;
}

.loader__ball {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #0042ff;
}

.loader__ball.loader__ball--top {
  left: -1rem;
  top: 0.5rem;
}

.loader__ball.loader__ball--bottom {
  left: 1.1rem;
  bottom: 0.5rem;
}

.bg__hero__cover {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
}

.card__image.rightside {
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__image.left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__image.right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__image.left2 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.space--stack--correction--20 {
  margin-bottom: -2rem;
}

.heading {
  font-family: Mumsies, sans-serif;
  color: #636b81;
  font-size: 1.7em;
  line-height: 2.55rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.heading.experience-title.end {
  font-size: 1.5rem;
}

.heading-2 {
  font-family: 'Lemon tuesday', Verdana, sans-serif;
  color: #636b81;
  font-style: normal;
  font-weight: 100;
}

.heading-2.logostyle {
  font-family: Suburban, Verdana, sans-serif;
  font-weight: 300;
}

.image {
  padding-right: 0px;
}

.hi-my-name-is {
  display: inline;
  padding-right: 0px;
  padding-left: 0px;
  background-image: -webkit-linear-gradient(270deg, #fffdea, #fffdea);
  background-image: linear-gradient(180deg, #fffdea, #fffdea);
  font-family: Mumsies, sans-serif;
  color: #636b81;
  font-size: 1.8rem;
  line-height: 2.25rem;
  font-weight: 300;
}

.ed-sheeran {
  position: relative;
  display: inline-block;
  overflow: visible;
  width: 220px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding: 0px 0px 0px 10px;
  border-style: none none solid;
  border-bottom-width: 1px;
  border-bottom-color: #636b81;
  background-color: transparent;
  background-image: -webkit-linear-gradient(270deg, #fffdea, #fffdea);
  background-image: linear-gradient(180deg, #fffdea, #fffdea);
  font-family: Mumsies, sans-serif;
  color: #0042ff;
  font-size: 1em;
  font-weight: 300;
  text-transform: none;
}

.ed-sheeran._2 {
  display: inline-block;
  width: 680px;
  margin-bottom: 0px;
  margin-left: 5px;
  padding: 0px 0px 0px 10px;
  color: #0042ff;
  font-size: 1em;
}

.ed-sheeran._4 {
  width: 140px;
  margin-right: 5px;
  padding-top: 0px;
  color: #0042ff;
  font-size: 1.5em;
  text-transform: none;
}

.ed-sheeran._5 {
  width: 250px;
}

.background-form {
  width: 800px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  font-family: 'Lemon tuesday', Verdana, sans-serif;
  color: #636b81;
}

.background-form.test {
  display: inline;
  background-image: -webkit-linear-gradient(270deg, #fffdea, #fffdea);
  background-image: linear-gradient(180deg, #fffdea, #fffdea);
}

.background-form._90 {
  background-image: none;
}

.form-block {
  display: inline;
}

.experience-title {
  width: 100%;
  font-family: Lifesavers, sans-serif;
  color: #636b81;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

.text-span {
  color: #0042ff;
}

.text-span.second {
  color: #0042ff;
}

.image-2 {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .59), hsla(0, 0%, 100%, .59));
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .59), hsla(0, 0%, 100%, .59));
}

.text {
  margin-bottom: 0rem;
  padding: 10px;
  background-image: -webkit-linear-gradient(270deg, #fffdea, #fffdea);
  background-image: linear-gradient(180deg, #fffdea, #fffdea);
  font-family: Raisonne, sans-serif;
  color: #0042ff;
  font-size: 1.7rem;
  line-height: 3rem;
  font-style: normal;
  font-weight: 600;
  text-transform: none;
}

.text.contact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: right;
  clear: none;
  direction: ltr;
  text-align: right;
}

.new-row {
  padding-left: 0px;
  background-image: -webkit-linear-gradient(270deg, transparent, transparent);
  background-image: linear-gradient(180deg, transparent, transparent);
}

.logo-image {
  width: 100%;
}

.logo-texted {
  font-family: 'Suburban _ Light', sans-serif;
  font-weight: 300;
  text-transform: capitalize;
}

.body {
  background-image: -webkit-linear-gradient(270deg, #fffdec, #fffdec);
  background-image: linear-gradient(180deg, #fffdec, #fffdec);
}

.logotcc {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 5%;
  padding-bottom: 50px;
}

html.w-mod-js *[data-ix="reveal-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 4rem);
  -ms-transform: translate(0px, 4rem);
  transform: translate(0px, 4rem);
}

@media (max-width: 991px) {
  .styles__h2 {
    text-align: left;
  }
  .styleguide__list {
    padding-left: 0rem;
  }
  .styles__h3 {
    margin-bottom: 2rem;
    text-align: left;
  }
  .column {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .styleguide__list--number {
    display: inline-block;
    margin-right: 0.5rem;
  }
  .p--l {
    font-size: 1.618rem;
    line-height: 2.25rem;
  }
  .card__title {
    font-size: 2.618rem;
    line-height: 3rem;
  }
  .tabs__content {
    padding-right: 4rem;
  }
  .bg__hero {
    background-size: 200vw;
  }
  .space--inset--top--xxxl {
    padding-top: 8rem;
  }
  .block--split__copy.block--split__copy--right {
    padding-left: 2.5rem;
  }
  .block--split__copy.block--split__copy--left {
    padding-right: 2.5rem;
  }
  .tabs__bg {
    right: 8.33333333%;
  }
  .space--inset--vrtl--xxxl {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .slider__bg {
    right: 8.33333333%;
  }
  .container__columns {
    margin-right: -2rem;
    margin-left: -2rem;
  }
  .space--inset--top--xl {
    padding-top: 2rem;
  }
  .card--thumbnail {
    margin-bottom: 4rem;
  }
  .quote {
    clear: both;
  }
  .block--full__copy__p {
    font-size: 1.618rem;
    line-height: 2.25rem;
  }
  .stylescape_message {
    width: 5rem;
    height: 5rem;
    padding-top: 1.75rem;
    -webkit-transform: translate(-2.5rem, -50%);
    -ms-transform: translate(-2.5rem, -50%);
    transform: translate(-2.5rem, -50%);
    font-size: 0.618rem;
  }
  .footer__copy {
    padding-right: 16.66666667%;
  }
  .logotcc {
    overflow: visible;
  }
}

@media (max-width: 767px) {
  body {
    letter-spacing: 0em;
  }
  h5 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
    line-height: 1.75rem;
  }
  .container {
    width: 100%;
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .section.section--hero--homepage {
    padding-top: 16vh;
    padding-bottom: 8rem;
  }
  .body--overflow {
    background-size: 150%;
  }
  .styleguide__list--number {
    min-width: auto;
    text-align: left;
  }
  .p--l {
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  .text--dot {
    width: 0.5rem;
    height: 0.5rem;
  }
  .tabs-slider__pane {
    margin-bottom: 1rem;
    padding-right: 3rem;
    padding-left: 3rem;
  }
  .tabs__content__img {
    width: 100%;
  }
  .space--stack--m {
    line-height: 1.75rem;
    letter-spacing: 0em;
  }
  .space--stack--xxxl {
    margin-bottom: 8rem;
  }
  .bg__hero {
    bottom: -100%;
  }
  .bg--color.bg--color--gradient {
    background-size: 150%, auto;
  }
  .space--inset--top--xxl {
    padding-top: 4rem;
  }
  .block--split__copy {
    margin-bottom: 2rem;
    padding-left: 0%;
  }
  .block--split__copy.block--split__copy--right {
    padding-left: 0%;
  }
  .block--split__copy.block--split__copy--left {
    padding-right: 16.66666667%;
  }
  .space--inset--vrtl--xl {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .hero__case__header {
    width: 100%;
    margin-bottom: -4rem;
  }
  .container__half {
    width: 83.33333333%;
  }
  .space--inset--vrtl--xxxl {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .block--full {
    min-height: 14rem;
    margin-right: -4rem;
    margin-left: -4rem;
  }
  .block--full__copy {
    left: 16.66666667%;
  }
  .block--full__img {
    position: relative;
  }
  .block--full__img.block--full__img--right {
    left: 8.33333333%;
    width: 150%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .block--full__img.block--full__img--left {
    left: -58.33333333%;
    width: 150%;
  }
  .hero__case__copy__title {
    position: relative;
    left: -5.5rem;
  }
  .case-study__grid__item {
    width: 50%;
    padding: 2rem;
  }
  .container__columns {
    margin-right: -2rem;
    margin-left: -2rem;
  }
  .space--inset--top--xl {
    padding-top: 2rem;
  }
  .slider__arrow {
    bottom: -2rem;
  }
  .slider__arrow.slider__arrow--left {
    left: 50%;
    -webkit-transform: translate(-3.5rem, 0px);
    -ms-transform: translate(-3.5rem, 0px);
    transform: translate(-3.5rem, 0px);
  }
  .slider__arrow.slider__arrow--right {
    left: 50%;
    -webkit-transform: translate(0.5rem, 0px);
    -ms-transform: translate(0.5rem, 0px);
    transform: translate(0.5rem, 0px);
  }
  .block--split--hz__bg {
    display: none;
  }
  .block--card__bg {
    left: 8.33333333%;
    top: -14.5rem;
    bottom: 100%;
  }
  .btn--card {
    margin-bottom: 3rem;
  }
  .btn--card.btn--card--left {
    left: 8.33333333%;
  }
  .card__img {
    margin-left: 8.33333333%;
  }
  .case-study--title {
    position: relative;
    left: -5.5rem;
    font-size: 5.559rem;
  }
  .hero__case__img {
    width: 91.66666667%;
    margin-top: 6rem;
    margin-left: 8.33333333%;
    float: none;
  }
  .block--full__image {
    width: 100%;
  }
  .block--split--vt__bg {
    position: absolute;
    display: block;
    width: 83.33333333%;
    height: 100%;
    margin-left: 8.33333333%;
  }
  .block--split__img {
    margin-left: 8.33333333%;
  }
  .card--thumbnail {
    margin-bottom: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .card--thumbnail__img {
    margin-bottom: 1rem;
  }
  .card--thumbnail--copy {
    text-align: right;
  }
  .card--thumbnail__ico {
    -webkit-transform: translate(1.5rem, 0px);
    -ms-transform: translate(1.5rem, 0px);
    transform: translate(1.5rem, 0px);
  }
  .quote__ico {
    width: 6rem;
  }
  .quote__ico__img {
    left: -0.75rem;
  }
  .block--full__copy__p {
    margin-bottom: 1.5rem;
    line-height: 2rem;
  }
  .container__inner--text {
    width: auto;
    margin-right: -2rem;
    margin-left: -2rem;
    padding-right: 8.33333333%;
    padding-left: 8.33333333%;
  }
  .stylescape_mask {
    padding-left: 25%;
  }
  .stylescape_message {
    width: 4.5rem;
    height: 4.5rem;
    padding-top: 1.5rem;
    -webkit-transform: translate(-2.25rem, -50%);
    -ms-transform: translate(-2.25rem, -50%);
    transform: translate(-2.25rem, -50%);
  }
  .list--normal {
    font-size: 1rem;
  }
  .btn--contact {
    position: absolute;
  }
  .heading {
    text-align: left;
  }
}

@media (max-width: 479px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .section.section--hero--homepage {
    padding-top: 4rem;
  }
  .space--stack--xxl {
    margin-bottom: 4rem;
  }
  .block__copy__title {
    position: relative;
    left: -4.75rem;
  }
  .body--overflow {
    overflow: hidden;
    background-size: 200%;
  }
  .card__title.about {
    padding-left: 30px;
  }
  .card--link {
    position: relative;
  }
  .tabs-slider__pane {
    padding-right: 2rem;
    padding-left: 2rem;
  }
  .bg__hero {
    bottom: 0%;
  }
  .bg--color.bg--color--gradient {
    background-size: 200%, auto;
  }
  .hero__case__header {
    margin-bottom: -4.5rem;
  }
  .container__half {
    width: 100%;
    margin-left: 0%;
  }
  .block--full {
    margin-right: -2rem;
    margin-left: -2rem;
  }
  .block--full__copy {
    z-index: 1234;
  }
  .block--full__img.block--full__img--right {
    width: 200%;
  }
  .block--full__img.block--full__img--left {
    left: -108.33333333%;
    width: 200%;
  }
  .container__columns {
    margin-right: -2rem;
    margin-left: -2rem;
  }
  .slider {
    width: 100vw;
    margin-left: -2rem;
  }
  .slider.slider--normal {
    width: 83.33333333%;
    margin-left: 8.33333333%;
  }
  .tabs-slider__pane__copy {
    padding-right: 4rem;
    padding-left: 4rem;
  }
  .column00 {
    position: static;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-image: -webkit-linear-gradient(270deg, #fffdea, #fffdea);
    background-image: linear-gradient(180deg, #fffdea, #fffdea);
  }
  .block--card__bg {
    top: 0rem;
    bottom: 0%;
    z-index: 1;
  }
  .box--shadow {
    position: relative;
    z-index: 12;
  }
  .card__img {
    left: 0%;
    margin-right: -2rem;
    margin-left: -2rem;
  }
  .case-study--title {
    left: -3.5rem;
    z-index: 123;
    font-size: 4.236rem;
  }
  .hero__case__img {
    width: auto;
    margin-top: 6rem;
    margin-right: -2rem;
    margin-left: -2rem;
  }
  .block--split__img {
    margin-right: -2rem;
    margin-left: -2rem;
  }
  .block--full__copy__p {
    font-size: 1.1325rem;
    line-height: 1.5rem;
  }
  .img--full {
    margin-right: -3rem;
    margin-left: -3rem;
  }
  .stylescape_container {
    width: 600%;
  }
  .stylescape_mask {
    padding-left: 33.33333333%;
  }
  .stylescape_message {
    width: 3rem;
    height: 3rem;
    padding-top: 0.9rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    -webkit-transform: translate(-1.5rem, -50%);
    -ms-transform: translate(-1.5rem, -50%);
    transform: translate(-1.5rem, -50%);
    line-height: 0.7rem;
  }
  .stylescape_message-text {
    margin-bottom: 1rem;
  }
  .slider--animation__ico {
    top: -1.5rem;
  }
  .footer__copy {
    padding-right: 33.33333333%;
  }
  .hi-my-name-is {
    width: 80%;
  }
  .ed-sheeran._2 {
    width: 85%;
    color: #0042ff;
  }
  .text {
    font-family: Raisonne, sans-serif;
    font-size: 1.5rem;
    text-transform: none;
  }
  .text.contact {
    display: block;
    float: none;
    clear: none;
    font-size: 1.5rem;
    text-align: left;
  }
  .logo-image {
    height: 100%;
  }
  .logotcc {
    display: none;
    overflow: visible;
  }
}

@font-face {
  font-family: 'Suburban';
  src: url('../fonts/Suburban-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Suburban';
  src: url('../fonts/Suburban-Light.ttf') format('truetype'), url('../fonts/Suburban-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura font';
  src: url('../fonts/Futura-Bold-font.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Futura font';
  src: url('../fonts/Futura-Bold-Italic-font.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Futura book font';
  src: url('../fonts/Futura-Book-Italic-font.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Futura book font';
  src: url('../fonts/Futura-Book-font.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futur';
  src: url('../fonts/futur.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura extra font';
  src: url('../fonts/Futura-Extra-Black-font.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Futura font';
  src: url('../fonts/Futura-Heavy-font.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Futura font';
  src: url('../fonts/Futura-Heavy-Italic-font.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Futura bt';
  src: url('../fonts/futura-light-bt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura font';
  src: url('../fonts/Futura-Light-Italic-font.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Futura font';
  src: url('../fonts/Futura-Light-font.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Futura bt';
  src: url('../fonts/futura-medium-bt.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura condensed bt';
  src: url('../fonts/futura-medium-condensed-bt.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Futura xblk bt';
  src: url('../fonts/Futura-XBlk-BT.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futura font';
  src: url('../fonts/Futura-Medium-Italic-font.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Tt0205m ';
  src: url('../fonts/tt0205m_.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Unicode';
  src: url('../fonts/unicode.futurab.ttf') format('truetype'), url('../fonts/unicode.futurabb.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mumsies';
  src: url('../fonts/Mumsies.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Jamesalmacen';
  src: url('../fonts/JamesAlmacen.ttf') format('truetype'), url('../fonts/JamesAlmacen.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Avenircondensedhand';
  src: url('../fonts/AvenirCondensedHand.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Black hawk';
  src: url('../fonts/Black-Hawk.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Chalkboard';
  src: url('../fonts/chalkboard.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Notera personaluseonly';
  src: url('../fonts/Notera_PersonalUseOnly.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Seaside groove demo';
  src: url('../fonts/Seaside-Groove---Demo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Suburban _ Light';
  src: url('../fonts/Suburban-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Raisonne';
  src: url('../fonts/raisonne-demibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Fonesia';
  src: url('../fonts/Fonesia-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Heirany marker';
  src: url('../fonts/Heirany-Bold-Marker.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Fonesia';
  src: url('../fonts/Fonesia-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Fonesia';
  src: url('../fonts/Fonesia-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Bfondtrial';
  src: url('../fonts/BFONDTRIAL.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lifesavers';
  src: url('../fonts/LifeSavers-ExtraBold.ttf') format('truetype'), url('../fonts/LifeSavers-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lifesavers';
  src: url('../fonts/LifeSavers-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Heirany';
  src: url('../fonts/Heirany-Slight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Michelle digital handwritten';
  src: url('../fonts/michelle-digital-handwritten.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Futurahandwritten';
  src: url('../fonts/FuturaHandwritten.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lemon tuesday';
  src: url('../fonts/Lemon-Tuesday.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Futura Condensed';
  src: url('../fonts/Futura-CondensedLight.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Annisa';
  src: url('../fonts/Annisa.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Hand scribble sketch times';
  src: url('../fonts/Hand-Scribble-Sketch-Times.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}